site_name: NLOG'EIRB - Formations
site_url: https://tlacault.github.io/formations-nlog/

theme:
  name: material
  font:
    text: Inter
    code: Cascadia Code
  icon:
    logo: octicons/terminal-16
  favicon: assets/favicon.ico
  features:
    - navigation.footer
    - content.code.copy
    - content.code.select
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: blue
      accent: green
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep green

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

extra:
  social:
    - icon: material/web
      link: https://nlog.eirb.fr/
    - icon: material/github
      link: https://github.com/TLacault/formations-nlog
    - icon: material/linkedin
      link: https://www.linkedin.com/company/nlog-eirb/
    - icon: material/email
      link: mailto:nlog@enseirb-matmeca.fr

copyright: Copyright &copy NLOG'EIRB 2025

extra_css:
  - stylesheets/extra.css

nav:
  - Welcome: index.md
  - Setup & IDE: setup.md
  - Leetcode: leetcode.md
  - Mock Interviews: interview.md
  - C++ :
    - Intro: c++/intro.md
  - DSA :
    - Array: dsa/array.md
    - Vector: dsa/vector.md
    - Hash Map: dsa/hashmap.md
    - Tree: dsa/tree.md
  - Tools & Resources: tools.md
  - Glossaire: glossaire.md
